.logo {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 16px;
    height: 15px;
}


.logo p {
    color: #EB5757;
    font-size: 14px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
}
