.formContainer {
    width: 300px;
}

.formContainer form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.formContainer form input {
    width: 42%;
    padding: 10px;
    border: none;
    outline: none;
}
.formContainer form .inputOne {
    border-right: 2px solid rgb(230, 230, 230);
}
.formContainer form .inputTwo {
    border-right: 2px solid rgb(230, 230, 230);
}

.formContainer form button {
    width: 16%;
    background: transparent;
    border: none;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.formContainer form svg {
    width: 20px;
    height: 20px;
    color: #EB5757;
}

@media all and (max-width: 480px) {
    .formContainer {
        position: absolute;
        top: 60px;
        left: 5%;
        
        width: 90%;
        margin: 20px auto;
    }
}